/* ----------------------------------------
** Element Resets
** ---------------------------------------- */

html,
body {
  margin: 0;
  height: 100%;
  background-color: #f5f5f5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ----------------------------------------
** Footer
** ---------------------------------------- */

.footer {
  margin: 40px 0 0;
  padding: 15px 20px;
  border-top: 1px solid rgb(0,0,0, 0.2);
  color: #474957;
  text-align: center;
  font-size: 0.8rem;
}

/* ----------------------------------------
** App Bar
** ---------------------------------------- */

.appBar {
  margin: 0 0 30px;
  padding: 15px 20px;
  background-color: #203982;
  color: #f5f5f5;
  text-align: center;
}

.appBar-title {
  font-size: 1.5rem;
}

/* ----------------------------------------
** Panel
** - wrapping element meant to give the look
**   of a raised box
** ---------------------------------------- */

.panel {
  margin: 0 auto;
  padding: 20px;
  max-width: 90%;
  width: 400px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgb(0,0,0, 0.1);
}

.panel + .panel {
  margin-top: 20px;
}

/* ----------------------------------------
** Button
** - interactive element for clickable buttons
** ---------------------------------------- */

.btn {
  padding: 12px 18px;
  box-sizing: border-box;
  border-radius: 6px;
  background: #274bb6;
  border-width: 0;
  border-bottom: 1px solid #102461;
  color: #f5f5f5;
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: #102461;
}

.btn:disabled {
  border-width: 0;
  background-color: #b2b6d3;
  cursor: not-allowed;
}

.btn_fullWidth {
  width: 100%;
}

/* ----------------------------------------
** Form Fields
** - styling for both standard input and label
** ---------------------------------------- */

.fieldLabel {
  display: block;
  margin: 0 0 10px;
}

.field {
  margin: 0 0 20px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #474957;
  font-size: 1.2rem;
}

/* ----------------------------------------
** Stacked List
** - meant for the element wrapping a list
**   of items
** ---------------------------------------- */

.stackedList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.stackedList > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.stackedList > * + * {
  border-top: 1px solid #75788d;
}

/* ----------------------------------------
** Actions and State
** - utility classes to alter a visual
** ---------------------------------------- */

.isComplete {
  background-color: #a8f0d4;
}
